
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}
body{
  background-color: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background-color: #fff;
  color: #212121;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  display: inline-flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.btn img{
  width: 20px;
  margin-left: 10px;
}
.btn.dark-btn{
  background-color: #212ea0;
  color: white;
}

@media(max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}

/*flex-basis only sets the initail width based on the container size
and elements can adjust based on other properties when size change
but width will be setted for all layouts*/